* {
    margin: 0;
    padding: 0;
}

body {
    width: 260px;
    height: 30px;
}

.container {
    width: 260px;
    height: 28px;
    display: flex;
}

input {
    width: 170px;
    margin: 3px 0 0 2px ;
    outline: none;
    border: none;
}

select {
    margin: 3px 0 0 2px ;
    width: 50px;
    color: rgb(12, 73, 177);
    border: 1px double blue;
}

button {
    margin: 3px 0 0 2px ;
    border: 1px double blue;
    width: 26px;
}
