body {
    margin: 0px;
    width: 280px;
    height: 30px;
}

.container {
    margin-top: 5px;
    margin-left: 4px;
    display: flex;
}

input {
    margin-left: 1px;
    height: 20px;
}

select {
    color: rgb(70, 115, 139);
    margin: 0 5px ; 
}

button {
    margin: 0;
}

img {
    margin: 0;
}