body {
    margin: 2px;
    width: 220px;
    height: 30px;
}

.container {
    margin-top: 5px;
    margin-left: 4px;
    display: flex;
}

input {
    height: 20px;
}

button {
    margin: 0;
}

img {
    margin: 0;
}